{% extends 'base.html' %}
{%  block head %}
       <style>
        canvas {
            position: absolute;
            transform: translate(-50%, 75%);
            padding: 0px 0px 20px 0px;
        }

        video {
            position: absolute;
            transform: translate(-50%, 75%);
            padding: 0px 0px 20px 0px;
        }
    </style>
{% endblock %}

{% block title %}{% endblock %}

{% block content %}
    <center>
        <div class="main" style="padding:50px 0 20px 0;">
                <h1>너희들도 moDeL 어때팀의 <mark>인물 구도 추천 서비스</mark>입니다!</h1>
        </div>

        <video id="video" width="640" height="480" autoplay muted playsinline></video>
        <canvas id="canvas" width="640" height="480"></canvas>

        <div class="results" style="padding: 40px 0px 30px 0px;">
            <div class="card" style="padding: 20px 0px 0px 0px;">
                <div class="card-body">
                    <h3 id ="notFound"></h3>
                    <h2 id ="realtime_ratio" style="padding:10px 0px 10px 0px;"></h2>
                    <h2 id ="result"></h2>
                </div>
            </div>
        </div>

        <div class="photo">
            <h5 id ="ratio" style="padding: 0px 0px 10px 0px;"></h5>


            <button type="button" onclick="location.href='{% url 'photo:photo_upload' %}'" class="btn btn-dark">Upload</button>
            <a  style="text-decoration:none; color: black" onclick="this.nextSibling.style.display=(this.nextSibling.style.display=='none')?'block':'none';" href="javascript:void(0)">
            <button class="btn btn-dark" type="button" onMouseOver="this.innerHTML='사진 닫기'" onMouseOut="this.innerHTML='사진 보기'">사진 보기</button>
            </a><div style="DISPLAY: none">

                    <div class="card-group" style="padding: 20px 0px 0px 0px;">
                        {% for post in photos %}
                            <div class="card">
                                <a href="{% url 'photo:photo_delete' pk=post.id %}" ><img id="image" class="image" src="{{ post.photo.url }}" style="padding:10px 50px 10px 50px; height: 300px"></a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
    </center>
{% endblock %}

{% block js %}
<script src="https://cdn.jsdelivr.net/jquery/1.12.4/jquery.min.js"></script>
    <script>
        var input_ratio = 0.0;
        var realtime_ratio = 0.0;

        const video = document.getElementById('video');
        const canvas = document.getElementById('canvas');
        const context = canvas.getContext("2d");
        const element = document.getElementById('notFound');
        const element2 = document.getElementById('realtime_ratio');
        const element3 = document.getElementById('result');

        async function loadAndPredict() {
            var size = 0;
            var width = 0;
            var height = 0;
            var data = new Array();
            var first_face = 0.0;
            var last_face = 0.0;
            var last_foot = 0.0;
            var ratio = 0.0;
            var ratio_sum = 0.0;
            var isDone = false;

            if(document.images.length == 0) {
                document.getElementById('notFound').innerHTML = "❗😲 입력된 사진이 없어요 😲❗" + '<br/>' + "👯‍♂ 원하는 비율의 사진을 최소 세 장 넣어주세요 👯‍♀";
            }

            for (var index = 0; index < document.images.length; index++) {
                document.getElementById('ratio').innerHTML = "👩‍💻 *** 입력하신 사진들로 비율을 계산하는 중이에요 *** 👨‍💻";

                const net = await bodyPix.load();

                const segmentation = await net.segmentPersonParts(document.images[index], {
                    flipHorizontal: false,
                    internalResolution: 'medium',
                    segmentationThreshold: 0.7
                });

                width = segmentation.width;
                height = segmentation.height;
                size = width * height;

                for (var i = 0; i < size; i++) {
                    data[i] = segmentation.data[i];
                }

                // console.log(data)

                loop1:
                    for (var y = 0; y < height; y++) {
                        for (var x = 0; x < width; x++) {
                            if (data[y * width + x] == 0 || data[y * width + x] == 1) {
                                first_face = y
                                break loop1;
                            }
                        }
                    }

                loop2:
                    for (var y = height - 1; y >= 0; y--) {
                        for (var x = 0; x < width; x++) {
                            if (data[y * width + x] == 0 || data[y * width + x] == 1) {
                                last_face = y
                                break loop2;
                            }
                        }
                    }

                loop3:
                    for (var y = height - 1; y >= 0; y--) {
                        for (var x = 0; x < width; x++) {
                            if (data[y * width + x] == 22 || data[y * width + x] == 23) {
                                last_foot = y;
                                break loop3;
                            }
                        }
                    }

                //console.log(first_face, last_face, last_foot);

                ratio = (Math.abs((last_foot - first_face) / (last_face - first_face)));
                // console.log(ratio);

                ratio_sum += ratio;
                // console.log(ratio_sum);

                if(index == document.images.length-1)
                    isDone = true;
            }
            input_ratio = (ratio_sum / document.images.length).toFixed(2);

            if(isDone == true)
                document.getElementById('ratio').innerHTML = "입력하신 사진들로 계산된 희망 비율은 " + input_ratio + " 입니다 😮 ";
        }

        loadAndPredict();



        if (document.images.length > 0) {
            document.getElementById('notFound').innerHTML = "입력된 사진이 부족해요!" + '<br/>' + (3 - document.images.length) + "장을 더 입력해주세요!";
        }

        if(document.images.length  >= 3 ) {
            element.innerText="";
            navigator.mediaDevices.getUserMedia({video: true, audio: false})
                .then(function (stream) {
                    video.srcObject = stream;
                });
        }

        var x1 = 0;
        var x2 = 0;
        var y1 = 0;
        var y2 = 0;
        var w = 0.0;
        var h = 0.0;
        var chk_foot = 0;
        var chk_head = 0;

        function draw_rec(color) {
            context.beginPath();
            context.strokeStyle = color;
            context.lineWidth = "5";
            context.moveTo(x1, y1);
            context.lineTo(x1, y2);
            context.lineTo(x2, y2);
            context.lineTo(x2, y1);
            context.lineTo(x1, y1);
            context.stroke();
            context.closePath();
        }

        function cannot_find_body() {
            context.lineWidth = "5";
            context.strokeStyle = "red";
            context.fillStyle = "white";
            context.globalAlpha = "1.0";
            context.fillRect(((w-1)/2) - 275,((h-1)/2) - 40, 550, 60);
            context.strokeRect(((w-1)/2) - 275,((h-1)/2) - 40, 550, 60);
            context.font = "30px Comic Sans MS";
            context.textAlign = "center";
            context.fillStyle = "black";
            if(chk_foot == 0 && chk_head == 1)
                context.fillText("🔎🦶 발끝을 인식하지 못했어요 🦶🔍", canvas.width/2, canvas.height/2);
            else if (chk_foot == 1 && chk_head == 0)
                context.fillText("🔎😟 얼굴을 인식하지 못했어요 😟🔍", canvas.width/2, canvas.height/2);
            else
                context.fillText("🙅‍♂️🙅‍♀️ 사람을 인식하지 못했어요 🙅‍♀️🙅‍♂️", canvas.width/2, canvas.height/2);
        }

        bodyPix.load().then(model => {
            var data = new Array();
            var size = 0;
            var width = 0;
            var height = 0;
            var first_face = 0.0;
            var last_face = 0.0;
            var last_foot = 0.0;

            video.onloadeddata = (event) => {
                predict();
            };

            function predict() {
                model.segmentPersonParts(video).then(segmentation => {
                    // console.log(segmentation);
                    canvas.width = video.width;
                    w = video.width;
                    canvas.height = video.height;
                    h = video.height;
                    const mask = bodyPix.toColoredPartMask(segmentation);

                    // console.log(mask);
                    // console.log(canvas.width, video.width, canvas.height, video.height);

                    width = segmentation.width;
                    height = segmentation.height;
                    size = width * height;

                    for (var i = 0; i < size; i++) {
                        data[i] = segmentation.data[i];
                    }
                    loop1:
                        for (var y = 0; y < height; y++) {
                            for (var x = 0; x < width; x++) {
                                if (data[y * width + x] == 0 || data[y * width + x] == 1) {
                                    first_face = y;
                                    y1 = y;
                                    chk_head = 1;
                                    break loop1;
                                }
                                else
                                    chk_head = 0;
                            }
                        }

                    loop2:
                        for (var y = height - 1; y >= 0; y--) {
                            for (var x = 0; x < width; x++) {
                                if (data[y * width + x] == 0 || data[y * width + x] == 1) {
                                    last_face = y;
                                    break loop2;
                                }
                            }
                        }

                    loop3:
                        for (var y = height - 1; y >= 0; y--) {
                            for (var x = 0; x < width; x++) {
                                if (data[y * width + x] == 22 || data[y * width + x] == 23) {
                                    last_foot = y;
                                    y2 = y;
                                    chk_foot = 1;
                                    break loop3;
                                }
                                else
                                    chk_foot = 0;
                            }
                        }

                    loop4:
                        for (var x = 0; x < width; x++) {
                            for (var y = 0; y < height; y++) {
                                if (data[y * width + x] != -1) {
                                    x1 = x;
                                    break loop4;
                                }
                            }
                        }
                    loop5:
                        for (var x = width - 1; x >= 0; x--) {
                            for (var y = 0; y < height; y++) {
                                if (data[y * width + x] != -1) {
                                    x2 = x;
                                    break loop5;
                                }
                            }
                        }
                    realtime_ratio = (Math.abs((last_foot - first_face) / (last_face - first_face))).toFixed(2);

                    if (chk_foot == 1 && chk_head == 1) {
                        document.getElementById('realtime_ratio').innerHTML = "당신의 현재 비율은 " + realtime_ratio  + " 입니다!";
                        if ( input_ratio- realtime_ratio > 0.5) {
                            draw_rec("red");
                            document.getElementById('result').innerHTML = "더 좋은 사진을 찍을 수 있어요 😥";
                        }
                        else {
                            draw_rec("green");
                            document.getElementById('result').innerHTML = "좋은 구도의 사진을 찍고있어요 🎉";
                        }
                    }
                    else {
                        element2.innerText = '';
                        element3.innerText = '';
                        document.getElementById('realtime_ratio').innerHTML = "전신을 보여주세요 😥";
                        cannot_find_body();
                    }

                    //console.log(x1, x2, y1, y2);
                });
                requestAnimationFrame(predict);
            }
        });

    </script>
{%  endblock %}


