{% extends 'base.html' %}
{% load static %}

{% block head %}
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/body-pix@2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/@tensorflow-models/posenet"></script>
    <style>
        canvas {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

        }

        video {
            position: absolute;
            transform: translate(-50%, -50%);
            top: 50%;
            left: 50%;

        }
    </style>
{% endblock %}

{% block content %}
    <center>
   <h1>너희들도 MoDeL 어때?</h1>
    <h3 id="original_ratio"></h3>

    </center>
    <video id="video" width="640" height="480" autoplay muted playsinline></video>
    <!-- <video id="video" width="640" height="480" src="../images/model.mp4" autoplay muted playsinline></video> -->
    <canvas id="canvas"></canvas>

{% endblock %}

{% block js %}

<script>

    const video = document.getElementById('video');
    const canvas = document.getElementById('canvas');
    const context = canvas.getContext("2d");

    navigator.mediaDevices.getUserMedia({ video: true, audio: false })
        .then(function (stream) {
            video.srcObject = stream;
        });


    bodyPix.load().then(model => {

        video.onloadeddata = (event) => {
            predict();
        };

        function predict() {
            model.segmentPersonParts(video).then(segmentation => {
                console.log(segmentation);
                canvas.width = video.width;
                canvas.height = video.height;
                const mask = bodyPix.toColoredPartMask(segmentation);


                const opacity = 0.7;
                const flipHorizontal = true;
                const maskBlurAmount = 0; //0~20
                const pixelCellWidth = 5.0;

                bodyPix.drawPixelatedMask(
                    canvas, video, mask,
                    opacity, maskBlurAmount, flipHorizontal,
                    pixelCellWidth);

            });
            requestAnimationFrame(predict);
        }
    });
</script>
<script src="/static/posenet.js"></script>

{% endblock %}