{% extends 'base.html' %}

{% block title %}-Upload{% endblock %}

{% block content %}
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8 panel panel-default">
        <center>
            <form action="" method="post"  enctype="multipart/form-data" style="padding: 20px 0px 0px 0px;">
                {{ form.as_p }}
                {% csrf_token %}
                <input type="submit" class="btn btn-dark" name="images" value="Upload">
            </form>
        </center>
    </div>
    <div class="col-md-2"></div>
    </div>
{% endblock %}

{% block js %}

{% endblock %}